<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<title>In Memoriam: Musicians And Entertainers Who Died In 2012 : NPR</title> 
	<meta name="description" content="NPR Music remembers the singers, instrumentalists, songwriters and producers who died in 2012. Explore their musical legacies." />

	<!-- CHARTBEAT -->
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    
    <!-- CSS -->
    {{ CSS.push('css/bootstrap.css') }}
    {{ CSS.push('css/bootstrap-responsive.css') }}
    {{ CSS.push('less/app.less') }}
    {% block extra_css %}{% endblock %}
    {{ CSS.render('css/app.min.css') }}

    <!-- AD CODE -->
    <script>
        NPR = {};
        NPR.PageInfo = {};
        NPR.PageInfo.getUrlParameter = function (param) {
            return false;
        };
    </script>

    <!-- JS -->
	{{ JS.push('js/console.js') }}
	{{ JS.push('js/lib/jquery-1.8.3.js') }}
    {{ JS.push('js/lib/modernizr.js') }}
    {% block extra_head_js %}{% endblock %}
    {{ JS.render('js/app-header.min.js') }}

	<meta property="og:title" content="NPR Music Presents: In Memoriam 2012" />
	<meta property="og:url" content="http://apps.npr.org/music-memoriam-2012" />
	<meta property="og:type" content="article" />
	<meta property="og:description" content="NPR Music remembers the singers, instrumentalists, songwriters and personalities who died in 2012. Explore their musical legacies." />
	<meta property="og:image" content="http://media.npr.org/assets/img/2012/12/20/in-memoriam-promo_sq.png" />
	<meta property="og:site_name" content="NPR.org" />
	<meta property="fb:app_id" content="138837436154588" />

    {% block extra_head %}
    {% endblock %}
</head>
<body id="top">
    
    <div id="main-content">

                {% block content %}
                {% endblock content %}
                
    </div>

        
    <div class="container">
        <div id="footer" class="row">
            <div class="span12">
            	<ul class="bottomlist">
            		<li><a href="http://www.npr.org/">Copyright 2012 NPR</a></li>
            		<li><a href="http://www.npr.org/about/termsofuse.html">Terms of Use</a></li>
            		<li><a href="http://www.npr.org/about/privacypolicy.html">Privacy Policy</a></li>
            		<li><a href="http://www.npr.org/about/permissioninfo.html">Permissions</a></li>
            		<li><a href="http://www.npr.org/corrections/">Corrections</a></li>
            		<li><a href="http://thin.npr.org">Text-Only Site</a></li>
            		<li class="help"><a href="http://www.npr.org/help/">Help</a></li>
            		<li class="contact"><a href="http://www.npr.org/contact/">Contact Us</a></li>
            		<li class="donate"><a href="http://www.npr.org/stations/donate/">Donate</a></li>
            	</ul>
            </div>
        </div>
        
    </div>
    
	{{ JS.push('js/lib/html5.js') }}
	{{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/moment.js') }}
    {{ JS.push('js/lib/bootstrap.js') }}
    {% block extra_foot_js %}{% endblock %}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/app.js') }}
    {{ JS.render('js/app-footer.min.js') }}

    {% block extra_foot %}
    {% endblock %}

    <!-- GOOGLE ANALYTICS -->
	<script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-5828686-4']);
		_gaq.push(['_setCustomVar',1,'BC','Music',3]);
		_gaq.push(['_setCustomVar',2,'Topics','1039,1106,1143,1147',3]);//Music: 1039, Photography: 1143, Multimedia: 1147, Music News: 1106
		_gaq.push(['_setCustomVar',4,'Org ID', '1',3]);
		_gaq.push(['_setCustomVar',5,'Page Types','Interactive' ,3]);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <!-- CHARTBEAT -->
    <script type="text/javascript">
        var _sf_async_config={};
        /** CONFIGURATION START **/
        _sf_async_config.uid = 18888;
        _sf_async_config.domain = "npr.org";
        /** CONFIGURATION END **/
        (function(){
            function loadChartbeat() {
                window._sf_endpt=(new Date()).getTime();
                var e = document.createElement("script");
                e.setAttribute("language", "javascript");
                e.setAttribute("type", "text/javascript");
                e.setAttribute("src",
                    (("https:" == document.location.protocol) ?
                     "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" :
                     "http://static.chartbeat.com/") +
                    "js/chartbeat.js");
                document.body.appendChild(e);
            }
            var oldonload = window.onload;
            window.onload = (typeof window.onload != "function") ?
                loadChartbeat : function() { oldonload(); loadChartbeat(); };
        })();
    </script>
</body>
