{% extends '_base.html' %}

{% block extra_css %}
    {{ CSS.push('less/sotomayor.less') }}
{% endblock %}

{% block extra_head_js %}
	{{ JS.push('js/lib/jquery.smooth-scroll.min.js') }}
	{{ JS.push('js/lib/jquery.jplayer.js') }}
	{{ JS.push('js/lib/jquery.jplayer.js') }}
	{{ JS.push('js/lib/popcorn-complete.js') }}
{% endblock %}
{% block extra_head %}{% endblock %}


{% block content %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="audio-navbar">
	<div class="branding">
		<h2><a href="http://www.npr.org" title="Return to NPR.org">NPR</a></h2>
	</div>

	<div id="audio">
	
		<div id="pop-audio" class="jp-jplayer"></div>
		
			<div id="jp_container_1" class="jp-audio">
				<div class="jp-type-single">
				
					<div class="jp-gui jp-interface">
						<div class="jp-controls">
							<a href="javascript:;" class="jp-play nav-btn" tabindex="1"><i class="icon-play icon-white">play</i></a>
							<a href="javascript:;" class="jp-pause nav-btn" tabindex="1" style="display: none;"><i class="icon-pause icon-white">pause</i></a>
						</div>
						<div class="jp-progress-container">
							<div class="jp-progress">
								<div class="jp-seek-bar">
									<div class="jp-play-bar"></div>
								</div>
							</div>
                            <div id="chapter-title"></div>
							<ul id="slide-nav">
							</ul>
						</div>
						<div class="jp-current-time"></div>
					</div>
				</div>
			</div>
	</div>

    <div id="browse-btn" class="nav-btn"><i class="icon-th-list icon-white"></i></div>
        <div id="credits-nav" title="Credits">Index &amp; Credits</div>

    <div id="next-btn" class="nav-btn back-next" title="Next">Next&nbsp;&rsaquo;</div>
    <div id="back-btn" class="nav-btn back-next" title="Back">&lsaquo;&nbsp;Back</div>
</div>

<div id="list-nav" class="slide-list"></div>

<div id="slideshow">
	<div id="slideshow-wrap">


		<div id="panel0" class="panel panel-open">
			<div id="title" class="panelbg">
				<div class="panel-inner">
					<a id="title-button" href="javascript:;">
						<div class="img-outer"><div class="img-wrap"><img src="img/art/61_979.jpg" alt="Sotomayor in 1959" /></div></div>
						<h1>From The Bronx To&nbsp;The&nbsp;Bench</h1>
						<h2>The Family Photos Of Justice Sotomayor</h2>
						<p class="intro">Supreme Court Justice Sonia Sotomayor gave NPR exclusive access to a huge suitcase brimming with family photos &mdash; and shares her story.</p>
						<h3>Play &rsaquo;</h3>
					</a>
				</div>
			</div>
		</div>

		<div id="panelend" class="panel panel-end">
			<div class="panelbg">
				<div class="panel-wrap">
                    <h3>TKTK FINAL BOOK QUOTE</h3>
                    <p>"We are all limited, highly imperfect beings, worthy in some dimensions, deficient in others, and if we would understand how any of our connections survive, we would do well to look first to what is good in each of us."</p>
                    <h3>Pass it on</h3>
                    <div id="share-buttons">
                        <div class="fb-like" data-href="http://apps.npr.org/music-memoriam-2012/" data-send="false" data-width="300" data-show-faces="false" data-font="arial" data-colorscheme="dark"></div>
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="nprmusic">Tweet</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
					<h3>Return to a chapter</h3>
					<div id="list-nav-end"></div>
					<h3>Project Credits</h3>
                    <p>All photos courtesy of Sonia Sotomayor unless otherwise noted.</p>
                    <p>
                    	Music:<br/ >
                    	"Cuba y Puerto Rico" (Sexteto Flores/"The Music of Puerto Rico/Recordings 1929 - 1947")<br />
						"Conjunto Tipico Ladi - Un Jibaro en Nueva York" (from "The Music of Puerto Rico/Recordings 1929 - 1947")<br />
						"Theme in G," "Curious Process" and "Cm" (Chad Crouch)<br />
						"II //\\ II" and "I //\\ I" (Discount Fireworks)<br />
						"Guaguanco" (Tito Puente from the album "Tambo"/Sony/BMG/RCA, 2005)<br />
						"Todavia Nos Queremos," "Lo Ideal del Campesino," "No More Ballet" and "Un Viejito Maravilloso" (From "Unfinished Spaces" by Giancarlo Vulcano)
                    </p>
					<p>Multimedia Production: Claire O'Neill / NPR</p>
					<p>Design/Development: Brian Boyer, Christopher Groskopf and Alyson Hurt / NPR</p>
				</div>
			</div>
		</div>


	</div>
</div>
{% endblock %}


{% block extra_foot_js %}{% endblock %}
{% block extra_foot %}{% endblock %}
