{% extends '_base.html' %}

{% block extra_css %}
    {{ CSS.push('less/sotomayor.less') }}
{% endblock %}

{% block extra_head_js %}
	{{ JS.push('js/lib/jquery.smooth-scroll.min.js') }}
	{{ JS.push('js/lib/jquery.jplayer.js') }}
	{{ JS.push('js/lib/jquery.jplayer.js') }}
	{{ JS.push('js/lib/popcorn-complete.js') }}
{% endblock %}
{% block extra_head %}{% endblock %}


{% block content %}

<div id="audio-navbar">
	<div class="branding">
		<h2><a href="http://www.npr.org" title="Return to NPR.org">NPR</a></h2>
	</div>

	<div id="audio">
	
		<div id="pop-audio" class="jp-jplayer"></div>
		
			<div id="jp_container_1" class="jp-audio">
				<div class="jp-type-single">
				
					<div class="jp-gui jp-interface">
						<div class="jp-controls">
							<a href="javascript:;" class="jp-play nav-btn" tabindex="1"><i class="icon-play icon-white">play</i></a>
							<a href="javascript:;" class="jp-pause nav-btn" tabindex="1" style="display: none;"><i class="icon-pause icon-white">pause</i></a>
						</div>
						<div class="jp-progress-container">
							<div class="jp-progress">
								<div class="jp-seek-bar">
									<div class="jp-play-bar"></div>
								</div>
							</div>
                            <div id="chapter-title"></div>
							<ul id="slide-nav">
							</ul>
						</div>
						<div class="jp-current-time"></div>
					</div>
				</div>
			</div>
	</div>

    <div id="browse-btn" class="nav-btn"><i class="icon-th-list icon-white"></i></div>
        <div id="credits-nav" title="Credits">Index &amp; Credits</div>

    <div id="next-btn" class="nav-btn back-next" title="Next">Next&nbsp;&rsaquo;</div>
    <div id="back-btn" class="nav-btn back-next" title="Back">&lsaquo;&nbsp;Back</div>
</div>

<div id="list-nav" class="slide-list"></div>

<div id="slideshow">
	<div id="slideshow-wrap">


		<div id="panel0" class="panel panel-open">
			<div id="title" class="panelbg">
				<div class="panel-inner">
					<a id="title-button" href="javascript:;">
						<div class="img-outer"><div class="img-wrap"><img src="img/art/61_979.jpg" alt="Sotomayor in 1959" /></div></div>
						<h1>From The Bronx To&nbsp;The&nbsp;Bench</h1>
						<h2>The Family Photos Of Justice Sotomayor</h2>
						<p class="intro">Supreme Court Justice Sonia Sotomayor gave NPR exclusive access to a huge suitcase brimming with family photos &mdash; and shares her story.</p>
						<h3>Play &rsaquo;</h3>
					</a>
				</div>
			</div>
		</div>

		<div id="panelend" class="panel panel-end">
			<div class="panelbg">
				<div class="panel-wrap">
                    <h3>On NPR <span class="date">January 14, 2013</span></h3>
                    <div class="radio-wrap">
						<div class="radio-story">
							<a href="http://www.npr.org/templates/story/story.php?storyId=167699633"><img src="img/sotomayor_sq-s1.jpg" alt="Portrait of Sonia Sotomayor. Photo by Kainaz Amarina" class="interview-photo" /></a>
							<p><a href="http://www.npr.org/templates/story/story.php?storyId=167699633">Hear an in-depth interview, and learn more about Justice Sotomayor's autobiography, <em>My Beloved World</em>.</a></p>
						</div>
						<div class="radio-quote">
							<p class="quote">
								<span>&ldquo;</span>We are all limited, highly imperfect beings, worthy in some dimensions, deficient in others ... we would do well to look first to what is good in each of us.</p>
							<p class="quote-attr">&mdash; Justice Sotomayor, <em>My Beloved World</em></p>
						</div>
					</div>

                    <h3>Pass it on</h3>
                    <div id="share-buttons">
                        <li class="twitter"><a rel="external" href="http://twitter.com/share?text=Justice%20Sotomayor%20shares%20her%20story%20%E2%80%94%20and%20a%20briefcase%20full%20of%20family%20photos%20%E2%80%94%20with%20%40nprnews.%20http%3A%2F%2Ft.co%2F0QHQjAsg&amp;url=http%3A%2F%2Fapps.npr.org%2Fsotomayor-family-photos%2F" alt="Share on Twitter" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Twitter In Navbar', 'Sotomayor Family Photos']);">Share This Page On Twitter</a></li>
                        <li class="facebook"><a rel="external" href="http://www.facebook.com/sharer/sharer.php?t=Justice%20Sotomayor%20shares%20her%20story%20%E2%80%94%20and%20a%20briefcase%20full%20of%20family%20photos%20%E2%80%94%20with%20NPR.%20http%3A%2F%2Fapps.npr.org%2Fsotomayor-family-photos%2F&amp;u=http%3A%2F%2Fapps.npr.org%2Fsotomayor-family-photos%2F" alt="Share on Facebook" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Facebook In Navbar', 'Sotomayor Family Photos']);">Like This Page On Facebook</a></li>
                    </div>
					<h3>Return to a chapter</h3>
					<div id="list-nav-end"></div>

					<h3>Project Credits</h3>
                    <p>All photos courtesy of Justice Sotomayor unless otherwise noted.</p>
                    <p>Text quotes excerpted from <em><a href="http://www.npr.org/books/titles/167046791/my-beloved-world-a-memoir">My Beloved World</a></em>.</p>
                    <p>
                    Music:<br />
                    "Cuba y Puerto Rico" (Sexteto Flores/"The Music of Puerto Rico/Recordings 1929 - 1947")<br />
                    "Conjunto Tipico Ladi - Un Jibaro en Nueva York" (from "The Music of Puerto Rico/Recordings 1929 - 1947")<br />
                    "Theme in G," "Curious Process" and "Cm" (<a href="http://podingtonbear.com">Chad Crouch</a>)<br />
                    "II //\\ II" and "I //\\ I" (<a href="http://freemusicarchive.org/music/Discount_Fireworks/">Discount Fireworks</a>)<br />
                    "Guaguanco" (Tito Puente from the album "Tambo"/Sony/BMG/RCA, 2005)<br />
                    "Todavia Nos Queremos," "Lo Ideal del Campesino," "No More Ballet" and "Un Viejito Maravilloso" (From "Unfinished Spaces" by <a href="http://www.distantsecondrecords.com">Giancarlo Vulcano</a>)<br />
                    </p>
                    <p>Reporting: Nina Totenberg / NPR</p>
                    <p>Multimedia Production: Claire O'Neill / NPR</p>
                    <p>Audio Mixing: Selena Simmons-Duffin / NPR</p>
                    <p>Design/Development: Christopher Groskopf and Alyson Hurt / NPR</p>
				</div>
			</div>
		</div>


	</div>
</div>
{% endblock %}


{% block extra_foot_js %}{% endblock %}
{% block extra_foot %}{% endblock %}
